*,
::before,
::after {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{height:100%;}
:root{
    /*以下是solarized配色方案的代码
    这个配色方案要反转颜色只需要简单调整五个base变量即可，
    base03是暗色调背景，base3是亮色调背景，
    在此记录的变量未必都会在之后的代码中用到。*/
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --background:var(--base03);
    --background-highlights:var(--base02);
    --secondary-content:var(--base01);
    --primary-content:var(--base0);
    --emphasized-content:var(--base1);
    --optional-emphasized-content:var(--base2);


    /* 以下是sc2mafia玩家的默认配色，以1-15的顺序排列 */
    --red:         red;
    --blue:        blue;
    --teal:        #87CEFA;
    --purple:      purple;
    --yellow:      yellow;
    --orange:      #FF6811;
    --green:       #228B22;
    --light-pink:  #FFC0EA;
    --violet:      #8A2BE2;
    --grey:        #D3D3D3;
    --dark-green:  #006400;
    --brown:       #8B4513;
    --light-green: #98FB98;
    --black:       #696969;
    --pink:        fuchsia;
}

body{
    display:flex;
    background-color:var(--background);
    color:var(--primary-content);

    align-items: center;
    justify-content:center;
}

input[type=text]{
    color:var(--primary-content);
    border: none;
    width: 2em;
    padding: 0.2rem;
    background-color:var(--background-highlights);
}
input:focus{
    outline-style: none;
}

select{
    color:var(--primary-content);
    padding: 0.2rem;
    border: none;
    background-color:var(--background-highlights);
}
select:focus{
    outline-style: none;
}
select[disabled]{
    color: color-mix(in srgb, black, var(--primary-content) 70%);
    background-color: color-mix(in srgb, black, var(--background) 70%);
}
option:active{
    color:var(--primary-content);
    background-color:var(--background-highlights);
}

.boxLabel{
    position: absolute;
    top: -1em;
    left: 1em;
    padding: 0.2em;
    text-align: center;
    background-color:var(--background);
}

.border{
    border: 0.1em solid var(--secondary-content);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
#loading {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 4rem;
}
#loading i{
    animation: spin 1.5s linear infinite;
}

#settingForm{
    display: flex;
    padding: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    margin:1em;
}
#settingForm > div{
    margin: 0.2em;
}
#settingForm > div+div{
    border-left: 0.1em solid var(--secondary-content);
    padding-left: 0.2em;
}