*,
::before,
::after {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{height:100%;}
:root{
    /*以下是solarized配色方案的代码
    这个配色方案要反转颜色只需要简单调整五个base变量即可，
    base03是暗色调背景，base3是亮色调背景，
    在此记录的变量未必都会在之后的代码中用到。*/
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --background:var(--base03);
    --background-highlights:var(--base02);
    --secondary-content:var(--base01);
    --primary-content:var(--base0);
    --emphasized-content:var(--base1);
    --optional-emphasized-content:var(--base2)
}

body{
    display:flex;
    background-color:var(--background);
    color:var(--primary-content);

    align-items: center;
    justify-content:center;
}

button{
    position: relative;
    color: var(--primary-content);
    transition:.2s linear;
    background-color: inherit;
    border: none;
}
button:hover{
    color: var(--optional-emphasized-content);
    border-color: var(--optional-emphasized-content);
}
button:active{
    top: 1px;
    left:1px;
}
button:focus{
    outline-style: none;
}

.form{
    margin:0px auto;
    padding: 1em;

    border-style: solid;
    border-color: var(--secondary-content);

    background-color:var(--background-highlights);
    text-align: center;
}

.controlButton{
    font-size: 1.5em;
    color: var(--primary-content);
    border-style: solid;
    border-color: var(--secondary-content);
    background-color: var(--background-highlights);
    padding: 0.5em;
    border-radius: 100%;
}

#controlBar{
    position:fixed;
    bottom: 1em;
    left: 1em;
}

#messageForm{
    display:flex;
    background-color:var(--background-highlights);
    height:30em;
    width:calc(1.5rem*50);
}

#messageList{
    display:flex;
    flex:auto;
    flex-direction:column-reverse;
    /* background-color:rgba(0,0,0,0); */
    /* border-color:var(--secondary-content); */
    /* border-bottom:none; */
    padding:0.5em;
    padding-left: 0em;
    text-align:left;
    overflow: auto;
}

#messageList table tr td{
    display:inline;
}

#msg input{
    color:var(--primary-content);
    font-size:1.2em;
    width:calc(1.5rem*50);
    border-style: solid;
    border-color: var(--secondary-content);
    background-color:var(--background-highlights);
}
#msg input:focus{
    outline-style: none;
}

a:link {color:var(--primary-content);text-decoration:underline;}      /* 未访问链接*/
a:visited {color:var(--primary-content);text-decoration:underline;}  /* 已访问链接 */
a:hover {color:var(--primary-content);text-decoration:underline;}  /* 鼠标移动到链接上 */
a:active {color:var(--primary-content);text-decoration:underline;}  /* 鼠标点击时 */
