*,
::before,
::after {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{height:100%;}
:root{
    /*以下是solarized配色方案的代码
    这个配色方案要反转颜色只需要简单调整五个base变量即可，
    base03是暗色调背景，base3是亮色调背景，
    在此记录的变量未必都会在之后的代码中用到。*/
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --background:var(--base03);
    --background-highlights:var(--base02);
    --secondary-content:var(--base01);
    --primary-content:var(--base0);
    --emphasized-content:var(--base1);
    --optional-emphasized-content:var(--base2)
}

body{
    display:flex;
    background-color:var(--background);
    color:var(--primary-content);

    /* align-items: center; */
    justify-content:start;
}

button{
    position: relative;
    color: var(--primary-content);
    transition:.1s linear;
    background-color: inherit;
    border: none;
}
button:hover{
    color: var(--optional-emphasized-content);
    border-color: var(--optional-emphasized-content);
}
button:active{
    transform: translate(1px,1px);
}
button:focus{
    outline-style: none;
}
button[disabled]{
    color: color-mix(in srgb, black, var(--primary-content) 70%);
    background-color: color-mix(in srgb, black, var(--background) 70%);
}
button[disabled]:active{
    transform: none;
}

input{
    color:var(--primary-content);
    border: none;
    padding: 0.2rem;
    font-size:1.2rem;
    background-color:var(--background-highlights);
}
input:focus{
    outline-style: none;
}
input[disabled]{
    color: color-mix(in srgb, black, var(--primary-content) 70%);
    background-color: color-mix(in srgb, black, var(--background) 70%);
}

select{
    color:var(--primary-content);
    font-size:1.2rem;
    padding: 0.2rem;
    border: none;
    background-color:var(--background-highlights);
}
select[disabled]{
    color: color-mix(in srgb, black, var(--primary-content) 70%);
    background-color: color-mix(in srgb, black, var(--background) 70%);
}
select:focus{
    outline-style: none;
}
option:active{
    color:var(--primary-content);
    background-color:var(--background-highlights);
}

hr{
    border-color: var(--secondary-content);
}

.form{
    position: absolute;
    margin:0px auto;

    border-style: solid;
    border-width: 0.1em;
    border-color: var(--secondary-content);

    background-color: color-mix(in srgb, rgba(0, 0, 0, 0.5), var(--background) 70%);
}
.formHead{
    position:relative;
    padding: 0.5em;
    background-color:var(--background-highlights);

    border-bottom: solid;
    border-color: inherit;
    border-width: inherit;
}
.formHead button{
    position: absolute;
    right:0.5em;
    font-size: 1.1em;
}
.formBody{
    height: 20em;
    padding: 0.5em;
    overflow: auto;
    scrollbar-color: var(--secondary-content) var(--background-highlights);
    scrollbar-width: thin;
    width:calc(1.5rem*35);
}
.formFoot{
    display: flex;
    border-top: solid;
    border-color: var(--secondary-content);
    background-color:var(--background-highlights);
}
.formFoot button{
    padding: 0.5em;
    flex:auto;
    font-size: 1.2em;
}
.formTextInput input{
    width:calc(1.5rem*35);
    border-top: solid;
    border-color: var(--secondary-content);
}
.formTextInput input:focus{
    border-color: var(--primary-content);
}
.formTextInput input:hover{
    border-color: var(--primary-content);
}

.controlButton{
    font-size: 1.5em;
    color: var(--primary-content);
    border-style: solid;
    border-color: var(--secondary-content);
    background-color: var(--background-highlights);
    padding: 0.5em;
    border-radius: 100%;
}

#controlBar{
    position:fixed;
    bottom: 1em;
    left: 1em;
    z-index: 99;
}

#consoleMessageForm{
    display:flex;
    flex-direction:column-reverse;
}

#lobbyChatMessageForm{
    display:flex;
    flex-direction:column-reverse;
}
#lobbyChatMessageForm table tr{
    display:flex;
}
#lobbyChatMessageForm table th{
    margin-right: 0.2em;
    flex:none;
}
#lobbyChatMessageForm table tr td{
    flex:initial;
    word-break:break-all;
}


/* #lobbyRoomListFormBody{
    display: flex;
} */
#lobbyRoomListFormBody table{
    /* flex:auto; */
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
#lobbyRoomListFormBody table tbody tr:has(td):hover{
    cursor:pointer;
    border-style: dashed solid;
}
#lobbyRoomListFormBody table tbody tr:nth-child(odd){
    background-color: var(--background);
}
#lobbyRoomListFormBody table tbody tr:nth-child(even){
    background-color: var(--background-highlights);
}
#lobbyRoomListFormBody table tbody tr:nth-child(1){
    background-color: transparent;
    border-bottom: solid;
    border-color: var(--secondary-content);
}
#lobbyRoomListFormBody table tbody tr th,
#lobbyRoomListFormBody table tbody tr td{
    padding: 0.2em;
    text-align: center;
    user-select: none;
}

/* #lobbyRoomListFormSideBar{
    flex:auto;
} */

.selected{
    border-style:solid;
    border-color:var(--primary-content);
    color: var(--optional-emphasized-content);
}

#lobbyCreateRoomFormBody{
    height: auto;
    width: auto;
}
#lobbyCreateRoomFormBody div{
    padding: 0.5em;
    font-size:1.2rem;
}
#lobbyCreateRoomFormBody div input{
    font-size:1.2rem;
}

#lobbyRoomFormRoom{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    width:calc(1.5rem*40);
}
#lobbyRoomFormUserList span{
    display: inline-block;
    margin: 0.1em;
    padding: 0.5em;
    background-color:var(--background);

    border: solid;
    border-color: var(--secondary-content);
}
#lobbyRoomFormChat{
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-color: var(--secondary-content);
    min-height: 0;
}
#lobbyRoomFormChatMessageList{
    height: 100%;
    flex:auto;
    overflow: auto;
    scrollbar-color: var(--secondary-content) var(--background-highlights);
    scrollbar-width: thin;
    display:flex;
    flex-direction:column-reverse;
}
#lobbyRoomFormChatMessageList table tr{
    display:flex;
}
#lobbyRoomFormChatMessageList table th{
    margin-right: 0.2em;
    flex:none;
}
#lobbyRoomFormChatMessageList table tr td{
    flex:initial;
    word-break:break-all;
}

#lobbyRoomChatInput input{
    flex:none;
    width: 100%;
}
#lobbyRoomFormRoomSetting{
    display: flex;
    flex-direction: column;
    border-left: solid;
    border-color: var(--secondary-content);
    height: 100%;
}
#lobbyRoomFormRoomSettingBody{
    flex: auto;
}
#lobbyRoomFormRoomSettingBody input{
    width: 10rem;
}
#lobbyRoomFormRoomSettingFoot{
    border-top: none;
    flex: none;
}
#lobbyRoomFormRoomSetting div div{
    padding: 0.5em;
    font-size:1.1rem;
}
#lobbyRoomFormButton{
    border-left: solid;
    border-color: var(--secondary-content);
    flex-direction: column;
}


a:link {color:var(--primary-content);text-decoration:underline;}      /* 未访问链接*/
a:visited {color:var(--primary-content);text-decoration:underline;}  /* 已访问链接 */
a:hover {color:var(--primary-content);text-decoration:underline;}  /* 鼠标移动到链接上 */
a:active {color:var(--primary-content);text-decoration:underline;}  /* 鼠标点击时 */
